{
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": true,
  "printWidth": 80,
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "quoteProps": "as-needed",
  "endOfLine": "auto",
  "proseWrap": "preserve"
}
